@charset "utf-8";

/*
 * Author:UED
 * Version:1.0.0
*/
html{font-size:10px;height:100%;width:100%;}
@media screen and (min-width:320px) {html{font-size: 12px;}}
@media screen and (min-width:375px) {html{font-size: 10px;}}
@media screen and (min-width:414px) {html{font-size: 9px;}}
body{
	font: 14px/25px "Microsoft YaHei", "微软雅黑", "SimSun", "宋体", HELVETICA;
	color:#000;
	font-size:2.2rem;
	height:100%;
	background-color: #f4f4f4;
}
.main{
	height:100%;
	overflow:auto;
}
.content b{
	font-weight:400;
}
.thead{
	display:flex;
	align-items:center;
	background-color: #fff;
	justify-content:space-between;
	padding: 4vw;
	border-bottom:2px solid #f4f4f4;
}
.pdf{
	width:5vw;
}
.tu{
	width:98%;
	margin:0 auto; 
}
.lay{
	width: 90%;
    background-color: #fff;
    position: absolute;
    font-size: 3rem;
    left: 5%;
    top: 10%;
    padding: 3vw;
    box-sizing: border-box;
    line-height: 2;
    box-shadow: 3px 10px 35px #333333;
    display:none;
}
.lay b{
	color:blue;
	font-weight:400;
}
.lay b.close{
	color:#000;
	float: right;
}
.left{
	width: 26vw;
    height: 9vw;
    background: #e6e6e6;
    color: #6f6f6f;
    font-size: 3rem;
    line-height:9vw;
    border-radius:6vw;
    display: flex;
    justify-content:space-between;
}
.left span{
	width:13vw;
	text-align:center;
}
.left .zhong{
	background-color: #45a8ae;
	color:#fff;
	border-radius: 6vw;
}
.header{
	background-color: #fff;
	padding: 4vw;
	padding-top: 0;
}
h2{
	font-size: 4.5rem;
	text-align: center;
	font-weight: bolder;
	line-height: 3;
}
.hdetail{
	display: flex;
	align-items:center;
    font-weight: 400;
}
.pdetail{
	display:flex;
	flex-direction: column;
    line-height: 2;
    font-weight: 500;
    font-size:2.7rem;
}
.name{
	font-size:3.5rem;
}
.gender{
	font-size:2.2rem;
	font-weight:500;
}
.zhaop{
	width:16vw;
	height:20vw;
	border-radius: .5rem;
	margin-right:4vw;
}
.content{
	background-color: #fff;
	margin-top:1rem;
	font-size:3rem;
}
.content li{
	height:15vw;
	line-height:15vw;
	border-bottom: 2px solid #f4f4f4;
	padding:0 4vw;
}
.content li.foot{
	border-top: 1rem solid #f4f4f4;
}
.content li span{
	width:30vw;
	color:#9d9d9d;
	display:inline-block;
}